<section>
  <div>
    <h3>User name</h3>
  </div>
  <div>
    <h3>User name</h3>
  </div>
  <div>
    <h3>User name</h3>
  </div>
  <div>
    <h3>User name</h3>
  </div>
  <div>
    <h3>User name</h3>
  </div>
  <div>
    <h3>User name</h3>
  </div>
</section>